<div id="index-shirts">
	<%= image_tag("logo.jpg", width: "333px", id: "lander-logo") %>
	<h1 id="index-tag">Euphoria APL CUDA Nice 2 Maple</h1>
	<h2 id="index-subtag">porro quisquam est qui dolorem</h2>
	<div id="tagline">
		<div class="container">
			Save Money to save you 
			<button type="button" id="cta-see-it" class="btn btn-lg">
				See How Vessentials Works
			</button>
		</div>
	</div>
</div>

<div id="index-box">
	<div class="container">
	  <div class="row">
	    <h2 id="box-info-header" class="col-sm-12 text-center">
        Monthly Subscriptions Of Essential Products Delivered To You
	    </h2>
	    <p id="plans-info">
	    	<span class="bluessential">Vessentials</span> is a Pennsylvania based company that distributes everyday essentials and hygenic products at value price to the customers by mail. We deliver essential products monthly for necessary family needs.
	    </p>
	    <div class="col-sm-6">
	      <%= image_tag("grubbox.png", width: '100%') %>
	    </div>
	    <div id="right-text" class="col-sm-6">
        Socks, Underwear, Panties, T-shirts, Tank Tops, Deodorant, Toothpaste, Body Wash, Shampoo, Body Spray, Lotions, Tampons, Combs, Hair Ties, and More... What's <span class="bluessential">Vessential</span> to you?
	    </div>
    </div>
  </div>
</div>

<div id="shirt-banner"></div>

<div id="index-faq">
	<div class="container">
		<ul>
			<h2>FAQ’s</h2>
			
			<div id="accordion" role="tablist">
			  <div class="faq-question">
			    <div role="tab" id="headingOne">
			      <h5 class="mb-0">
			        <a class="collapsed" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
			          Is there a fee to join?
			        </a>
			      </h5>
			    </div>

			    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
			      <div class="card-body">
							Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			      </div>
			    </div>
			  </div>

			  <div class="faq-question">
			    <div role="tab" id="headingTwo">
			      <h5 class="mb-0">
			        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
			          Is the subscription only for adults?
			        </a>
			      </h5>
			    </div>
			    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
			      <div class="card-body">
			        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			      </div>
			    </div>
			  </div>

			  <div class="faq-question">
			    <div role="tab" id="headingThree">
			      <h5 class="mb-0">
			        <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
			          What if I don’t use everything in the kit before my next shipping
			        </a>
			      </h5>
			    </div>
			    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
			      <div class="card-body">
			        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
			      </div>
			    </div>
			  </div>

			  <div class="faq-question">
			    <div role="tab" id="headingFour">
			      <h5 class="mb-0">
			        <a class="collapsed" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">
			          What is your cancellation policy?
			        </a>
			      </h5>
			    </div>
			    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
			      <div class="card-body">
							Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			      </div>
			    </div>
			  </div>
			</div>

		</ul>
	</div>
</div>

<div id="donation">
	<div class="row">
		<div  id="donation-info" class="col-sm-5">
			<p>
				5% of all proceeds go to local
				assuma shoreditch et. Anim keffiyeh helvetica, 
				craft beer labore wes acred nesciunt sapiente 	
			</p>
		</div>
		<div id="donation-bg" class="col-sm-7">
		</div>
	</div>
</div>

<div id="choose-plan">
  <div class="container">
    <div class="row">
      <h4 class="col-sm-12 text-center">
        Choose A Plan That's Vessential To You...
      </h4>
      <div id="bubbles" class="row text-center">
        <div id="bubble-one" class="col-sm-4">
        	<div>Basic</div>
        	<%= image_tag("bubble.png", width: '80%') %>
        </div>
        <div id="bubble-two" class="col-sm-4">
        	<div>Advanced</div>
        	<%= image_tag("bubble.png", width: '80%') %>
        </div>
        <div id="bubble-three" class="col-sm-4">
        	<div>Family</div>
        	<%= image_tag("bubble.png", width: '80%') %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="index-contact">
	<div class="container">
		<div class="jumbotron" id="contact-box">
			<h4>Contact Us!</h4>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					<h5>Address:</h5>
					Vessentials Ltd.<br>
					45 Rockefeller Plaza<br> 
					New York, NY 10111 <br>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.9673879648594!2d-71.06451578429936!3d42.36453427918656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e370902f1166a7%3A0xa88949971ae0d009!2s200+Portland+St%2C+Boston%2C+MA+02114!5e0!3m2!1sen!2sus!4v1515348948494" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="col-sm-6">
					<h5>Customer Support:</h5>
					1-800-vessentials
					<p>support@vessentials.com</p>
					
					<hr>
					
					<h5>Admin:</h5>
					toymech@gmail.com
					<hr>
					<div class="social-media-icons">
		        <ul>
		        	<a href="#"><i class="fa fa-instagram fa-3x"></i></a>
		          <a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
		          <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
		          <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>  
		          <a href="#"><i class="fa fa-youtube-square fa-3x"></i></a>
		          <a href="#"><i class="fa fa-snapchat-ghost fa-3x"></i></a>
		        </ul>
		      </div>
				</div>
			</div>

			
		</div>
	</div>
</div>
