<div id="index-shirts">
	<%= image_tag("logo.jpg", width: "333px", id: "lander-logo") %>
	<h1 id="index-tag">Euphoria APL CUDA Nice 2 Maple</h1>
	<h2 id="index-subtag">porro quisquam est qui dolorem</h2>
	<div id="tagline">
		<div class="container">
			Save Money to save you 
			<button type="button" id="cta-see-it" class="btn btn-lg">
				See How Vessentials Works
			</button>
		</div>
	</div>
</div>

<div id="index-box">
	<div class="container">
	  <div class="row">
	    <p id="plans-info">
	    	<span class="bluessential">Vessentials</span> is a Pennsylvania based company that distributes everyday essentials and hygenic products at value price to the customers by mail. We deliver essential products monthly for necessary family needs.
	    </p>
	    <h2 id="box-info-header" class="col-sm-12 text-center">
        Monthly Subscriptions Of Essential Products Delivered To You
	    </h2>
	    <div id="left-box" class="col-sm-6">
	      <%= image_tag("stock-pencils.jpg", width: '500') %>
	    </div>
	    <div id="right-text" class="col-sm-6">
        Socks, Underwear, Panties, T-shirts, Tank Tops, Deodorant, Toothpaste, Body Wash, Shampoo, Body Spray, Lotions, Tampons, Combs, Hair Ties, and More... What's <span class="bluessential">Vessential</span> to you?
	    </div>
    </div>
    <h4 class="col-sm-12 text-center">
      Choose A Plan That's Vessential To You...
    </h4>
    <div id="bubbles" class="row text-center">
      <div class="col-sm-4">
      	<%= image_tag("bubble.png", width: '75%') %>
      </div>
      <div class="col-sm-4">
      	<%= image_tag("bubble.png", width: '75%') %>
      </div>
      <div class="col-sm-4">
      	<%= image_tag("bubble.png", width: '75%') %>
      </div>
    </div>
  </div>
</div>

<div id="shirt-banner"></div>

<div id="index-faq">
	<div class="container">
		<ul>
			<h2>FAQ’s</h2>
			<li class="faq">Is there a fee to join?</li>
			<li class="faq">Is the subscription only for adults?</li>
			<li class="faq">What if I don’t use everything in the kit before my next shipping?</li>
			<li class="faq">What is your cancellation policy?</li>
		</ul>
	</div>
</div>

<div id="index-contact">
	<div class="container">
		<div class="jumbotron" id="contact-box">
			<h4>Contact Us!</h4>
			<hr>
			<div class="row">
				<div class="col-sm-5">
					<h5>Address:</h5>
					Vessentials Ltd.<br>
					45 Rockefeller Plaza<br> 
					New York, NY 10111 <br>
					<p>support@vessentials.com</p>
				</div>
				<div class="col-sm-7">
					<h5>Admin:</h5>
					toymech@gmail.com
					<hr>
					<h5>Customer Support:</h5>
					1-800-vessentials
				</div>
			</div>
			<br>
			<div class="social-media-icons">
        <ul>
        	<a href="#"><i class="fa fa-instagram fa-5x"></i></a>
          <a href="#"><i class="fa fa-google-plus-square fa-5x"></i></a>
          <a href="#"><i class="fa fa-twitter-square fa-5x"></i></a>
          <a href="#"><i class="fa fa-facebook-square fa-5x"></i></a>  
          <a href="#"><i class="fa fa-youtube-square fa-5x"></i></a>
          <a href="#"><i class="fa fa-snapchat-ghost fa-5x"></i></a>
                
        </ul>
      </div>
		</div>
	</div>
</div>
