<div id="index-shirts">
	<%= image_tag("logo.jpg", width: "500px", id: "lander-logo") %>
	<h1 id="index-tag">Euphoria APL CUDA Nice 2 Maple</h1>
	<h3 id="index-subtag">Neque porro quisquam est qui dolorem</h3>
	<div id="tagline">
		<div class="container">
			Save Money to save you 
			<button type="button" id="cta-see-it" class="btn btn-lg">
				See How Vessentials Works
			</button>
		</div>
	</div>
</div>

<div id="index-box">
	<div class="container">
	  <div class="row">
	    <p id="plans-info">
	    	<span class="bluessential">Vessentials</span> is a Pennsylvania based company that distributes everyday essentials and hygenic products at value price to the customers by mail. We deliver essential products monthly for necessary family needs.
	    </p>
	    <h2 class="col-sm-12 text-center">
        Monthly Subscriptions Of Essebntial Products Delivered To You
	    </h2>
	    <div id="left-box" class="col-sm-6">
	      <%= image_tag("vessentialsBox.png", width: '200') %>
	    </div>
	    <div id="right-text" class="col-sm-6">
        Socks, Underwear, Panties, T-shirts, Tank Tops, Deodorant, Toothpaste, Body Wash, Shampoo, Body Spray, Lotions, Tampons, Combs, Hair Ties, and More... What's <span class="bluessential">Vessential</span> to you?
	    </div>
    </div>
    <h4 class="col-sm-12 text-center">
      Choose A Plan That's Vessential To You...
    </h4>
    <div id="bubbles" class="row text-center">
      <div class="col-sm-4">
      	<%= image_tag("bubble.png", width: '75%') %>
      </div>
      <div class="col-sm-4">
      	<%= image_tag("bubble.png", width: '75%') %>
      </div>
      <div class="col-sm-4">
      	<%= image_tag("bubble.png", width: '75%') %>
      </div>
    </div>
  </div>
</div>

<div id="index-charity">
	<div class="container">
		V E S S E N T I A L S
		<br />
		! ! !
	</div>
</div>
