<div class="container">
  <h1 class="text-center">Check out these sweet plans</h1>
  <br/>
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-pricing">
        <div class="content">
          <h6 class="category text-gray">Free</h6>
          <div class="icon icon-info">
            <i class="material-icons">JToy</i>
          </div>
          <h3 class="card-title">$00</h3>
          <p class="card-description">
            Vessentially Yours
          </p>
          <%= form_tag charges_path do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <label class="amount">
                <span>Amount: $5</span>
              </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="A month's subscription"
                    data-amount="500"
                    data-locale="auto"></script>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-pricing">
        <div class="content">
          <h6 class="category text-gray">Starter</h6>
          <div class="icon icon-info">
            <i class="material-icons">JToy</i>
          </div>
          <h3 class="card-title">$05</h3>
          <p class="card-description">
            Vessentially Yours #2
          </p>
          <%= form_tag charges_path do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <label class="amount">
                <span>Amount: $5</span>
              </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="A month's subscription"
                    data-amount="500"
                    data-locale="auto"></script>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-pricing">
        <div class="content">
          <h6 class="category text-gray">Business</h6>
          <div class="icon icon-info">
            <i class="material-icons">JToy</i>
          </div>
          <h3 class="card-title">$15</h3>
          <p class="card-description">
            Vessentially Yours #3
          </p>
          <%= form_tag charges_path do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <label class="amount">
                <span>Amount: $5</span>
              </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="A month's subscription"
                    data-amount="500"
                    data-locale="auto"></script>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-pricing">
        <div class="content">
          <h6 class="category text-gray">Enterprise</h6>
          <div class="icon icon-info">
            <i class="material-icons">JToy</i>
          </div>
          <h3 class="card-title">$25</h3>
          <p class="card-description">
            Vessentially Yours #4
          </p>
          <%= form_tag charges_path do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <label class="amount">
                <span>Amount: $5</span>
              </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="A month's subscription"
                    data-amount="500"
                    data-locale="auto"></script>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>