<!-- Login Modal -->
<div class="modal modal-login" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="loginModalLabel" class="modal-title justify-content-center">Log in to your account</h4>
      </div>
      <div class="modal-body">
        <div class="login-form-container">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form"}) do |f| %>
          <div class="form-group email">
            <%= f.label :email, class: "sr-only", for: "signup-email" %>
            <%= f.email_field :email, autofocus: true, id: "signup-email", name: "signup-email", type: "email", class: "form-control login-email", placeholder: "Your email" %>
          </div>
          <div class="form-group password">
            <%= f.label :password, class: "sr-only", for: "signup-password-confirm" %>
            <%= f.password_field :password, autocomplete: "off", id: "signup-password", name: "signup-password", type: "password", class: "form-control login-password", placeholder: "Password" %>
          </div>
          <% if devise_mapping.rememberable? -%>
          <div class="checkbox remember">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end -%>
          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-block btn-cta-primary" %>
          </div>
          <% end %>
        </div><!--//login-form-container-->
      </div><!--//modal-body-->
      <div class="modal-footer">
        <!-- http://localhost:3000/users/sign_up -->
        <!-- <p>New to Vessentials? <a class="signup-link" id="signup-link" href="#">Sign up now!</a></p> -->
        <p>
          New to Vessentials? 
          <%= link_to('Sign up Now!', new_user_registration_path, :id => "signup-link", :class => "signup-link") %>
        </p>
        
      </div><!--//modal-footer-->
    </div><!--//modal-content-->
  </div><!--//modal-dialog-->
</div>

<!-- Reset Password Modal -->
<div class="modal modal-signup" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="signupModalLabel" class="modal-title text-center">New to Tempo? Sign up now.</h4>
      </div>
      <div class="modal-body">
        <p class="intro text-center">It only takes 3 minutes!</p>
        <div class="login-form-container">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "login-form"}) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group email">
            <%= f.label :email, class: "sr-only", for: "signup-email" %>
            <%= f.email_field :email, autofocus: true, id: "signup-email", name: "signup-email", type: "email", class: "form-control login-email", placeholder: "Your email" %>
          </div>
          <div class="form-group password">
            <%= f.label :password, class: "sr-only", for: "signup-password-confirm" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", id: "signup-password", name: "signup-password", type: "password", class: "form-control login-password", placeholder: "Password" %>
          </div>
          <div class="form-group password">
            <%= f.label :password_confirmation, class: "sr-only", for: "signup-password" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", id: "signup-password-confirm", name: "signup-password" ,type: "password", class: "form-control login-password", placeholder: "Confirm Password" %>
          </div>
          <%= f.submit "Sign up", class: "btn btn-block btn-cta-primary" %>
          <p class="note">By signing up, you agree to our terms of services and privacy policy.</p>
          <% end %>
        </div>
        <!--//login-form-container-->
      </div>
      <!--//modal-body-->
      <div class="modal-footer">
        <p>Already have an account? <a class="login-link" id="login-link" href="#">Log in</a></p>
      </div>
      <!--//modal-footer-->
    </div>
    <!--//modal-content-->
  </div>
  <!--//modal-dialog-->
</div><!--//modal-->

<!-- Reset Password Modal -->
<div class="modal modal-resetpass" id="resetpass-modal" tabindex="-1" role="dialog" aria-labelledby="resetpassModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="resetpassModalLabel" class="modal-title text-center">Password Reset</h4>
      </div>
      <div class="modal-body">
        <div class="resetpass-form-container">
          <p class="intro">
            Please enter your email address below and we'll email you a link to a page where you can easily create a new password.
          </p>
          <form class="resetpass-form">
            <div class="form-group email">
              <label class="sr-only" for="reg-email">Your email</label>
              <input id="reg-email" name="reg-email" type="email" class="form-control login-email" placeholder="Your email">
            </div><!--//form-group-->
            <button type="submit" class="btn btn-block btn-cta-primary">Reset Password</button>
          </form>
        </div><!--//login-form-container-->
      </div><!--//modal-body-->
      <div class="modal-footer">
        <p>
          I want to <a class="back-to-login-link" id="back-to-login-link" href="#">return to login</a>
        </p>
      </div><!--//modal-footer-->
    </div><!--//modal-content-->
  </div><!--//modal-dialog-->
</div>