<nav id="vessentially-a-header" class="navbar navbar-expand-sm navbar-dark bg-white">
  <%= link_to image_tag("logo.jpg", width: "120px"), root_path, class: 'navbar-brand'  %>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= link_to "how it works", pages_how_path, class: "nav-link" %>
    </li>
    <li class="navbar-item">
      <%= link_to "faq", pages_faq_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "donate", pages_donate_path, class: "nav-link" %>
    </li>
    <li class="navbar-item">
      <%= link_to "plans", pages_plans_path, class: "nav-link" %>
    </li>
    <li class="navbar-item">
      <%= link_to "checkout", pages_donate_path, class: "nav-link" %>
    </li>
  </ul>
</nav>