<nav id="vessentially-a-header" class="navbar fixed-top navbar-expand-sm navbar-dark">
  <%= link_to image_tag("logo.jpg", width: "120px"), root_path, class: 'navbar-brand'  %>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= link_to "how it works", pages_how_path, class: "nav-link" %>
    </li>
    <li class="navbar-item">
      <%= link_to "faq", pages_faq_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "donate", pages_donate_path, class: "nav-link" %>
    </li>
    <li class="navbar-item">
      <%= link_to "plans", new_charge_path, class: "nav-link" %>
    </li>
    <li class="navbar-item">
      <%= link_to "checkout", pages_checkout_path, class: "nav-link" %>
    </li>
    <li class="navbar-item">
      <% if user_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_user_session_path, class: "nav-link", method: :delete) %>        
        </li>
      <% else %>
        <li>
        <%= link_to('Login', new_user_session_path, class: "nav-link") %>  
        </li>
      <% end %>
    </li>
  </ul>
</nav>