<!DOCTYPE html>
<html>
  <head>
    <title>Vessential</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>  
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/plugins/pe-icon-7-stroke/css/pe-icon-7-stroke.css"> 
    <link rel="stylesheet" href="assets/plugins/animate-css/animate.min.css">
    <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">  
  </head>

  <body>
    <!-- These alerts take up space despite being empty
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
  <script type="text/javascript" src="assets/plugins/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="assets/plugins/popper.min.js"></script> 
  <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
  <script type="text/javascript" src="assets/plugins/back-to-top.js"></script> 
  <script type="text/javascript" src="assets/plugins/jquery-inview/jquery.inview.min.js"></script>
  <script type="text/javascript" src="assets/plugins/isMobile/isMobile.min.js"></script>     
  <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>    
  <script type="text/javascript" src="assets/js/main.js"></script> 
  
  <script type="text/javascript" src="assets/js/modal-video.js"></script> 
  
  <script type="text/javascript" src="assets/js/animations.js"></script>       
</html>
